@import "../abstracts/mixins";
@import "../abstracts/variables";
.container{
    @include set-background($primary-color);
    max-width: $max-width;
    @include flexCenter;
    margin: 20px auto;
    padding: 0.75em;
    height: min(650px,100vh);
    &__left{
        width: 50%;
        height: 100%;
        padding: 5em 1em;
        @include set-background(#f1f3f9);
        border-radius:10px 0 0 10px;
        margin-right:0.3em;
        img{
            max-width: 100%;
        }
        div{
            text-align: center;
        }
        h3{
            margin: 0.5em;
        }
    }
    &__right{
        width: 50%;
        height: 100%;
        @include set-background(white);
        border-radius: 0 10px 10px 0;
        padding:2em 2em 2em 4em;
    }

}